* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(
    to right,
    #6190e8,
    #a7bfe8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #333;
}

input {
  padding: 10px 15px;
  border: solid 1px black;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}
